@page "/config"

<PageTitle>MS Teams config</PageTitle>

<h1>Config page</h1>


<TeamsApplication RequireAuthentication="false">
    <ApplicationTemplate>
        @{ this.Context = context; }

        <label for="tab-name">Tab Name</label>
        <div>
            <input id="tab-name" type="text" @onchange="this.TabNameChangedAsync" />
        </div>
    </ApplicationTemplate>
</TeamsApplication>

@code{
    ApplicationContext Context;

    [Inject]
    NavigationManager NavMan { get; set; }

    [JSInvokable]
    public async Task SavingAsync(Dictionary<string, object> data)
    {
        // Code removed for clarity...
    }

    private bool isValid;
    private void TabNameChangedAsync(ChangeEventArgs e)
    {
        // Code removed for clarity...
    }
}