@page "/counter"
@inject Data.CounterState counterState


<PageTitle>Counter</PageTitle>

<h1>Counter Persistent</h1>

<p role="status">Current count: @counterState.Counter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    //private int currentCount = 0;

    private void IncrementCount()
    {
        counterState.Counter++;
    }
}
